.container {
  display: flex;
  flex-direction: column;
}

.description {
  display: block;
  width: 100%;
  min-height: 100px;
  border-radius: 4px;
  border: 1px solid #cfcfcfad;
}

form {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  background: #fff;
}

.infoWrapper {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.infoWrapper > div {
  width: calc(50% - 20px);
  align-items: center;
}
.infoWrapper input {
  width: 380px;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}

.authorsContainer > strong {
  display: block;
  text-align: center;
  padding-top: 24px;
}

.notification {
  text-align: center;
}

.duration {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.courseAuthorsContainer {
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 40px 0;
}
