.container {
	display: flex;
	flex-direction: column;
}

.courseInfo {
	margin-top: 20px;
	padding: 20px;
	display: flex;
	gap: 50px;
	border-radius: 4px;
	border: 1px solid #cfcfcf;
	background: #fff;
}

.authorsList {
	list-style: none;
	padding-left: 0;
}

.description {
	width: 60%;
	border-right: 1px solid #cfcfcf;
}

p {
	padding-bottom: 0;
}

.backButton {
  align-self: flex-end;
  margin-top: 30px;
}
