.cardContainer {
	display: flex;
	padding: 8px 16px;
	justify-content: space-between;
	gap: 16px;
	border-left: 5px solid #333e48;
	border-radius: 5px;
	box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
}

.cardText {
	width: 70%;
}

.cardDetails {
	width: 30%;
}

.cardDetails > p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.cardDetails > p > b {
	padding-right: 5px;
}

.buttonsContainer {
	display: flex;
	gap: 10px;
}
