.headerContainer {
	display: flex;
	justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 30px;
	margin: 0 auto;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.userContainer {
	display: flex;
	align-items: center;
}

.userName {
	margin-right: 50px;
}
