.headerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 50px;
}
